$text: #000;
$textDark: #030D16;
$textWhite: #fff;
$Gray1: #555A84;
$Gray2: #4F4F4F;
$textColor: #00B9F0;


$lightBlue: #EBF9FE;
$Color: #00B9F0;
$backgroundColor: #F7F6F4;

$fontPoppinsRegular: 'Poppins-Regular', sans-serif;
$fontPoppinsMedium: 'Poppins-Medium', sans-serif;
$fontPoppinsBold:  'Poppins-Bold', sans-serif;
$fontPoppinsSemiBold:  'Poppins-Semibold', sans-serif;