$text: #000;
$textColor: #00B9F0;
$Color: #00B9F0;
$backgroundColor: #F7F6F4;

$fontPoppinsRegular: 'Poppins-Bold', sans-serif;
$fontPoppinsMedium: 'Poppins-Medium', sans-serif;
$fontPoppinsBold:  'Poppins-Bold', sans-serif;