.blockquotes {
  &__title {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width:992px) {
      font-size: 30px;
    }
    @media (max-width:767px) {
      padding-top: 30px;
      padding-bottom: 30px;
      font-size: 30px;
    }
    @media (max-width:480px) {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
    }
  }
  &__wrapper {
    max-width: 780px;
    height: auto;
    width: 100%;
    margin: 0 auto;
    img {
      height: 100%;
      width: 100%;
    }
  }
}