@font-face {
    font-family: 'Poppins-Bold';
    src: url("../fonts/Poppins-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url("../fonts/Poppins-Medium.ttf") format('truetype');
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url("../fonts/Poppins-SemiBold.ttf") format('truetype');
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?gw4zpo');
    src:  url('../fonts/icomoon.eot?gw4zpo#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?gw4zpo') format('truetype'),
    url('../fonts/icomoon.woff?gw4zpo') format('woff'),
    url('../fonts/icomoon.svg?gw4zpo#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
