.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

body, html {
  position: relative;
  scroll-behavior: smooth;
  width: 100%;
  &.no-scroll {
    overflow: hidden;
  }
}

body {
  &.fixed {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
}

.main-wrapper {
  min-height: 100vh;
  overflow: hidden;

  position: relative;

  @extend .clearfix
}

main {
  padding: 0;
}

.container {
  height: 100%;
  margin: 0 auto;

  max-width: 1320px;

  padding: 0 15px
}


